img{
    width: 100%;
    border-radius: 10px;
}
.img_shell{
    padding: 2rem 2rem 0px 2rem; 
    background-color: var(--main-bg-color);
    border: none;
    width: 50%;
    margin: 5% auto 0px auto;
    border-radius: 15px 15px 0px 0px;

    
}
h1, h2{
    font-family: "Young Serif", serif;
}
h1{
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 1rem;

}
h2{
    color: var(--brown800);
}


:root{
    --main-bg-color: hsl(0, 0%, 100%);
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown800: hsl(14, 45%, 36%);

    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);
}


body{
    background-color: var(--stone100);
    font-family: outfit, sans-serif;
    font-size: 16px;
}
.main_shell{
    padding: 1rem 2rem 2rem 2rem;
    margin: 0px auto 5% auto;
    background-color: var(--main-bg-color);
    width: 50%;
    border-radius: 0px 0px 15px 15px;
    border: 0px;
}

hr{
    border: 1px solid var(--stone150);
}
.ruler{
    margin: 1.5rem 0px;
}
#description{
    line-height: 1.1rem;
}

#prep_shell{
    padding: .3rem;
    line-height: 1.5rem;
    background-color: var(--rose50);
    border-radius: 10px;
}
#prep{
    font-size: 1rem;
    margin: .7rem 1rem;
    color: var(--rose800);
}
#prep_shell li::marker{
    color: var(--rose800);
}
#prep_shell li{
    padding-left: 1rem ;
}


#ingredients_shell{
    line-height: 1.5rem;
}

#ingredients_shell li::marker{
    color: var(--brown800);
}

#ingredients_shell ul{
    margin-left: 1rem;
    padding: 0px;
}
#ingredients_shell li{
    padding-left: 1rem;
}


#instructions_shell{
    line-height: 1.1rem;
}
#instructions_shell li::marker{
    color: var(--brown800);
    font-weight: 700;
}
#instructions_shell ol{
    margin-left: 1rem;
    padding: 0px;
}
#instructions_shell li{
    padding-left: 1rem;
}


.nutrition{
    display: grid;
    grid-template-columns: 1fr 1fr;
}   

.note{
    margin-left: 2rem;
}

.value{
    color: var(--brown800);
    font-weight: 700;
} 

 @media screen and (max-width: 375px) {
    body{
        margin: 0px;
    }
    .main_shell{
        padding: 2rem;
        margin: 0px;
        width: 100%;
        max-width: 100vw;
        border-radius: 0px;
        box-sizing: border-box;
    }
    .img_shell{
        margin: 0px;
        width: 100%;
        border-radius: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    img{
        width: 100%;
        border-radius: 0px;
    }
    h1{
        margin-top: 0px;
    }
 }